flows_MSI.json
[{"id":"e65b31e55869b56e","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"a94d9f1887bc5a92","type":"inject","z":"e65b31e55869b56e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":160,"wires":[["fc0bb3e2467d9a70"]]},{"id":"fc0bb3e2467d9a70","type":"debug","z":"e65b31e55869b56e","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":120,"wires":[]},{"id":"c5dcbdfb23c2f666","type":"exec","z":"e65b31e55869b56e","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":253.5,"y":302,"wires":[["fc0bb3e2467d9a70"],["fc0bb3e2467d9a70"],["fc0bb3e2467d9a70"]]},{"id":"18d1db50a8b29d2a","type":"inject","z":"e65b31e55869b56e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"git --help","payloadType":"str","x":130.5,"y":244,"wires":[["c5dcbdfb23c2f666"]]},{"id":"157af0226a0d2015","type":"inject","z":"e65b31e55869b56e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"docker images","payloadType":"str","x":142,"y":379,"wires":[["c5dcbdfb23c2f666"]]}]